<%
sidebar_collapse  = "nonsidebar-collapse";
loginAccountObj = session["loginAccountObj"]
message = params["message"]

hour = params["app_hour"]
icon = params["app_icon"]
displayIcon = params["app_display_icon"]
message = params["message"]

ss = loginAccountObj['fullname'] unless loginAccountObj.nil?
pict = ss.nil? ? '' : ss.slice(0, 1)
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>

      function setParam(name,value){
        var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', name);
                    input.setAttribute('value', value);
                    return input;
        }

        $(function() {
        take_get_parameter();
        $("#btn_back").click(function(){
          var f = document.createElement("form");
                    f.setAttribute('method',"patch");
                    f.setAttribute('action',"/applicant_displays/1");
                    <% params.each do |key, value| %>
                        f.appendChild(setParam('<%=key%>','<%=value%>'));
                    <% end %>
                    var bodyElement = document.body ;
                    bodyElement.append(f);
                    f.submit();
        });
      });

      $(function() {
          take_get_parameter();
          $("#btn_change_data").click(function(){
            /*var app_hour = S_GET("app_hour"),
            app_icon = S_GET("app_icon"),
            app_display_icon = S_GET("app_display_icon"),
            app_complete = "1";
          window.location.href = "setting_applicant_display.html?app_hour=" + app_hour +
                       "&app_icon=" + app_icon +
                       "&app_display_icon=" + app_display_icon +
                       "&app_complete=" + app_complete;*/

          var f = document.createElement("form");
            f.setAttribute('method',"patch");
            f.setAttribute('action',"/applicant_displays/1");
            <% params.each do |key, value| %>
              f.appendChild(setParam('<%=key%>','<%=value%>'));
            <% end %>
            var bodyElement = document.body ;
            bodyElement.append(f);
            f.submit();
        });
         });

      function take_get_parameter() {
        /*var app_hour = S_GET("app_hour"),
          app_icon = S_GET("app_icon"),
          app_display_icon = S_GET("app_display_icon");*/
        var app_hour = '<%=params['app_hour']%>',
          app_icon = '${param.app_icon}',
          app_display_icon = '${param.app_display_icon}',
          app_complete = '${param.app_complete}';

        document.getElementById("span_icon").innerHTML = app_icon;
        document.getElementById("span_display_icon").innerHTML = app_display_icon;
        //document.getElementById("span_hour").innerHTML = app_hour + " 時間（h）"; // TO-DO 時間単位から分単位に変更　DB等のカラム名等は変更せず修正箇所は必要最小限に抑える 20180918
        document.getElementById("span_hour").innerHTML = app_hour + " 分（m）";
      }
  </script>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>応募者表示設定</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_applicant_display"><i class="fa fa-cogs"></i> 設定</a></li>
      <li class="active">応募者表示設定</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
      <section class="col-md-12 col-xs-12">
       <div class="callout callout-warning">
        <h4 style="font-size:16px;">応募者表示設定</h4>
       </div>
       <div class="row">
        <div class="col-md-12 col-xs-12">
         <div class="box box-kujira box-solid">
          <div class="box-header with-border">
           対応期限設定
          </div>
          <div class="box-body">
           <div class="col-md-12 col-xs-12">
            <div class="form-group">
             <div class="pull-left">
             </div>
            </div>
           </div>
           <div class="form-group">
             <h6 class="col-lg-2 col-md-2 col-sm-4 col-xs-12" style="font-size:12px;">対応期限 <span style="font-size:12px; background-color: #d9534f; border-color: #d43f3a; padding:5px; border-radius: 3px; color: #fff;">必須</span></h6>
             <h6 class="col-lg-8 col-md-8 col-sm-3 col-xs-12" id="span_hour" style="font-size:12px;"></h6>
           </div>
           <div style="display:none">
            <ul class="mail_modal_body_ul">
             <li class="mail_modal_body_li">重複応募設定</li>
            </ul>
            <div style="font-size:13px;margin-top:10px;margin-bot:10px;">重複アイコンを「表示しない」にすると、応募者一覧で重複を示すアイコンが非表示になります。</div>
            <table class="app_mail_table_layout">
             <tbody>
              <tr>
               <td style="width:200px" class="app_mail_cap_field">
                <ul class="mandatory_field_cap"><li>重複アイコンの表示設定</li></ul>
               </td>
               <td>
                 <ul class="ul_input_field_setting_page">
                  <li><span id="span_icon"></span></li>
                  <li><span id="span_display_icon"></span></li>
                 </ul>
               </td>
              </tr>
             </tbody>
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
       <br>
       <div class="row">
        <div class="col-md-12 col-xs-12" id="footer_go_to_confirmation">
         <div class="pull-left">
           <a class="btn btn-warning btn-rounded" id="btn_back">< 戻る</a>
         </div>
         <div class="text-center">
           <a class="btn btn-rounded  btn-warning" id="btn_change_data">更新</a>
         </div>
        </div>
       </div>
      </section>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_applicant_display"]').parent().addClass('active');
})
  </script>
 </body>
</html>
