<%
  sidebar_collapse = "nonsidebar-collapse";
  loginAccountObj = session["loginAccountObj"]
  loginAccountObj = Account.new if loginAccountObj.nil?

  ss = loginAccountObj['fullname'] unless loginAccountObj.nil?
  pict = ss.nil? ? '' : ss.slice(0, 1)
%>
<html>
  <head>
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <%= render partial: "common/meta_header" %>
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <script src="lib/js/external/jquery/jquery.js"></script>
    <script src="lib/js/foundation-datepicker.js"></script>
    <script src="lib/js/jquery-ui.js"></script>
    <script src="lib/js/js_basic_fm.js"></script>
    <script>
      var app_store_id		= new Array("S0000001","S0000002","S0000003");
      var app_store_name		= new Array("あ　店","い　店","う　店");
      var app_store_group 	= new Array("心斎橋拠点","梅田拠点","難波拠点");


      document.addEventListener('DOMContentLoaded',
        function(){
          initialize_screen();
          take_get_parameter();
        }
      );

      function initialize_screen(){

      }
      function setParam(name,value){
        var input = document.createElement('input');
        input.setAttribute('type','hidden');
        input.setAttribute('name',name);
        input.setAttribute('value',value);
        return input;

      }


      //function take get parameter
      function take_get_parameter() {
        /*var app_group_name = S_GET("app_group_name"),
          app_group_manager = S_GET("app_group_manager"),
          app_admin_comment = S_GET("app_admin_comment"),
          app_group_store_id = S_GET("app_group_store_id"),
          app_group_store_name = S_GET("app_group_store_name"),
          app_group_store_group = S_GET("app_group_store_group");*/

        var app_group_store_id	= '${param.app_group_store_id}',
          app_group_store_name	= '${param.app_group_store_name}',
          app_group_store_group	= '${param.app_group_store_group}',
          app_name 		='${param.app_group_name}',//'<%#=request.getParameter("app_brand_name")%>' S_GET("app_brand_name"),
          app_group_manager		='${param.app_group_manager}',
          app_admin_comment			='${param.app_admin_comment}';//S_GET("app_memo");

        document.getElementById("span_group_name").innerHTML = app_name;
        //document.getElementById("div_group_manager").innerHTML = app_job_type;
        document.getElementById("div_admin_comment").innerHTML = app_admin_comment;



        var div_group_manager = "";

        document.getElementById("span_group_name").innerHTML = app_name;

      /*	if (app_group_manager != "") {
          var group_manager = new Array();

          group_manager = app_group_manager.split(",");

          div_group_manager = document.getElementById("div_group_manager").innerHTML;
          div_group_manager += "<ul class='ul_access_2'>";
          for (var i = 0; i < group_manager.length; i++) {
            div_group_manager += "<li>" + group_manager[i] + "</li>"
          };
          div_group_manager += "</ul>";
          document.getElementById("div_group_manager").innerHTML = div_group_manager;
        }*/

        if (app_group_manager != "") {

          var group_manager_list = new Array();

          //alert('group_manager_list===='  + group_manager_list);

          <% #debug %>
          var accountStrGetter =  <%#=accountStrGetter.getAccountStrGetterJson()%>;

          document.getElementById("div_group_manager").innerHTML = "";
          var div_group_manager = document.getElementById("div_group_manager").innerHTML;

          group_manager_list = app_group_manager.split(",");

          div_group_manager += "<ul class='ul_access_2'>";
          for (var i = 0; i < group_manager_list.length; i++) {
            div_group_manager += "<li>" + accountStrGetter[group_manager_list[i] - 1] + "</li>"
          };
          div_group_manager += "</ul>";

          document.getElementById("div_group_manager").innerHTML = div_group_manager;
        }

        document.getElementById("div_admin_comment").innerHTML = app_admin_comment;

        if (app_group_store_id != "") {
          var group_store_name = new Array(),
            group_store_group = new Array(),
            div_group_store = "";

          group_store_name = app_group_store_name.split(",");
          group_store_group = app_group_store_group.split(",");
          div_group_store = "<ul class='ul_access_2'>";
          for (var i = 0; i < group_store_name.length; i++) {
            div_group_store += "<li>" + group_store_name[i] + " " + group_store_group[i] + "</li>";
          };
          div_group_store += "</ul>";
          document.getElementById("div_group_store").innerHTML = div_group_store;
        }
      }

        function back(){

        var f = document.createElement("form");
        f.setAttribute('method',"post");
        f.setAttribute('action',"/setting_group_create");
        <% params.each do |key, value| %>
          f.appendChild(setParam('<%=key%>','<%=value%>'));
        <% end %>
        var bodyElement = document.body ;
        bodyElement.append(f);
        f.submit();

      }

      function toServlet(){
        /*var inputName = setParam("name",S_GET("app_brand_name"));
        var f = document.createElement("form");
        f.setAttribute('method',"post");
        f.setAttribute('action',"/setting_group_submit");
        f.appendChild(inputName);
        alert("+++++++setting_brand_create_conf.jsp+++++++++setting_brand_submitへ行くよ");
        var bodyElement = document.body;
        bodyElement.append(f);
        f.submit();*/

          var f = document.createElement("form");
          f.setAttribute('method',"post");
          f.setAttribute('action',"/setting_group_submit");
          <% params.each do |key, value| %>
          f.appendChild(setParam('<%=key%>','<%=value%>'));
          <% end %>
          var bodyElement = document.body ;
          bodyElement.append(f);

          f.submit();

      }
    </script>
  </head>
  <body>
         <section class="section section-header bg-kujira-orange">
      <section class="grid-header container grid-1280">
        <div class="text-left">
          <h3><img src="/res/img/logo.png?v=1" width="221"/> </h3>
        </div>
        <div id="header-rigth" class="text-right">
          <!--<a id="hdr_help_nav" href="/applicant#">ヘルプ</a>　-->
          <a id="hdr_logout_nav" href="/login">ログアウト</a>
          <br/>
          <p id="hdr_text_login">ログイン：<span id="hdr_usr_login"><%=loginAccountObj['fullname']%>様</span></p>
        </div>
      <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
          <%= render partial: "common/nav" %>
      <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        </section>
          </section>

          <br><br><br><br><br><br><br><br>
      <section class="container grid-1280">
      <h4 class="page_title">グループ登録・編集</h4>
      <div class="mail_modal_body">
        <ul class="mail_modal_body_ul">
          <li class="mail_modal_body_li">グループ情報</li>
        </ul>
        <table class="app_mail_table_layout">
          <tbody>
            <tr>
              <td class="app_mail_cap_field app_mail_cap_field_w">グループID</td>
              <td colspan="3">
                <%=@s_group.id.to_s unless @s_group.id.nil?%>
              </td>
            </tr>
            <tr>
              <td class="app_mail_cap_field app_mail_cap_field_w">
                <ul class="mandatory_field_cap">
                  <li>グループ名</li>
                </ul>
              </td>
              <td colspan="3">
                <span id="span_group_name"><%=@s_group.name%></span>
              </td>
            </tr>
            <tr>
              <td class="app_mail_cap_field app_mail_cap_field_w">
                <ul class="mandatory_field_cap">
                  <li>グループ担当者</li>
                </ul>
              </td>
              <td colspan="3">
                <div id="div_group_manager"><%=@s_group.manager%></div>
              </td>
            </tr>
            <tr>
              <td class="app_mail_cap_field app_mail_cap_field_w">
                <ul class="mandatory_field_cap">
                  <li>管理者コメント</li>
                </ul>
              </td>
              <td colspan="3">
                <div id="div_admin_comment"><%=@s_group.admin_comment%></div>
              </td>
            </tr>
            <tr>
              <td class="app_mail_cap_field app_mail_cap_field_w">
                <ul class="mandatory_field_cap">
                  <li>登録済み店舗</li>
                </ul>
              </td>
              <td colspan="3">
                <% store = Store.where(store_group: @s_group.id).first %>
                <div id="div_group_store"><%=store.nil? ? '' : store.name%></div>
              </td>
            </tr>
          </tbody>
        </table>
        <br/><br/>
    <div id="footer_go_to_confirmation">
      <div><a class="edit_data_back_btn  btn btn-primary" id="btn_back"  onclick="history.back()">＜戻る</a></div>
      <%= form_tag "/s_groups/#{params[:id].to_s}", method: params[:id].to_i == 0 ? :post : :patch do %>
        <%= hidden_field_tag 's_group[id]', @s_group.id %>
        <%= hidden_field_tag 's_group[name]', @s_group.name %>
        <%= hidden_field_tag 's_group[manager]', @s_group.manager %>
        <%= hidden_field_tag 's_group[admin_comment]', @s_group.admin_comment %>
        <%= submit_tag '更新', class: "confirm_data_btn  btn btn-lg  btn-primary", id: "btn_confirm_data_change" %>
      <% end %>
    </div>
    </section>
      <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
      <%= render partial: "common/footer" %>
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
  </body>
</html>
