<%
  sidebar_collapse  = cookies["nonsidebar-collapse"]
  loginAccountObj = session["loginAccountObj"]

  ss = loginAccountObj['fullname'] unless loginAccountObj.nil?
  pict = ss.nil? ? '' : ss.slice(0, 1)
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" id="check">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>グループ登録</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_group"><i class="fa fa-cogs"></i> ト設定</a></li>
      <li class="active">グループ登録</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
       <%= render partial: "form" %>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <div id="my_mail_modal" class="w3-modal" style="margin-bottom: 20px;">
   <div class="w3-modal-content w3-card-4" style="border-radius: 10px;">
    <header class="w3-container w3-teal" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
     <img src="/res/img/send_email.png" style="width:50px; padding-top:5px; padding-bottom: 5px; padding-right:5px;float:left;"/>
     <span id="btn_close_modal" class="w3-button w3-display-topright" style="border-top-right-radius: 10px; font-size:12px;" onclick="close_dialog()">閉じる</span>
     <h4 style="margin-top: 9px; font-size:12px;"><center>グループに追加する店舗の選択</center></h4>
    </header>
    <div class="w3-container modd">
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="box box-kujira">
        <div class="box-header with-border">
         検索メニュー
        </div>
        <div class="box-body">
         <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
          <div class="form-group">
           <div class="pull-right">
            <a style="color:#000;" class="btn btn-rounded btn-kujira" href="#" onClick="resetSearchInfo(); return false;">検索項目をリセット</a>
           </div>
          </div>
         </div>
         <div class="form-group">
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">勤務地 / エリア</label>
           <select class="form-control" id="txt_store_area"  onChange="getSelecterJson('txt_store_area','txt_work_loc_todoufuken','/get_prefecture?area=')">
            <option value="">選択してください。</option>
            <% @areas.each do |area| %>
            <option value="<%=area.id%>"><%=area.name%></option>
           	<% end %>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">グループ</label>
           <select class="form-control" id="txt_store_group">
            <option value="">選択してください。</option>
            <% @s_groups.each do |group| %>
            <option value="<%=group.id%>"><%=group.name%></option>
            <% end %>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">都道府県</label>
           <select class="form-control" id="txt_work_loc_todoufuken"   onChange="getSelecterJson('txt_work_loc_todoufuken','txt_work_loc_shikuchouson','/get_city?pref=')">
           	<option value=""></option>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">市区町村</label>
           <select class="form-control" id="txt_work_loc_shikuchouson">
            <option value=""></option>
           </select>
          </div>
          <div class="col-md-8 col-xs-12" style="margin-top: 10px;">
           <label style="font-size: 12px;">設定状況</label><br/>
           <div class="col-md-3 col-xs-12">
            <div class="form-group">
             <label style="font-size: 12px;">
              <input type="radio" class="flat-red" name="rad"> &nbsp;
              指定しない
             </label>
            </div>
           </div>
           <div class="col-md-5 col-xs-12">
            <div class="form-group">
             <label style="font-size: 12px;">
              <input type="radio" class="flat-red" name="rad"> &nbsp;
              グループ未設定のみ
             </label>
            </div>
           </div>
          </div>
          <div class="col-md-4 col-xs-12" style="margin-top: 10px;">
           <label style="font-size: 12px;">店舗マスタ名</label>
           <input class="form-control" id="txt_store_name" type="text">
          </div>
         </div>
        </div>
        <div class="box-body">
         <div class="col-md-12 col-xs-12">
          <div class="text-center">
           <a class="btn btn-rounded btn-kujira" href="javascript:void(0)" onClick="getStoreJson(); return false;">検索</a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pull-right">
       	<a class="btn btn-kujira btn-rounded" id="btn_add_store_top">一括設定</a>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pre_data_content_hit_list" id="pre_data_content_hit_list"></div>
       <div class="pre_data_content_navigation">
        <ul>
       	 <li><a href="#"><<</a></li>
       	 <li><a href="#">1</a></li>
       	 <li><a href="#">>></a></li>
        </ul>
       </div>
       <div class="pre_data_content_total_hit" style="display:none">
        <span class="pre_data_content_total_hit_span">表示件数</span>
        <select class="small_combobox" id="txt_one_page_limit_modal" onchange="onePageLimitModalOne()">
         <option value="20">20件</option>
       	 <option value="50">50件</option>
       	 <option value="100">100件</option>
        </select>
       </div>
       <div id=store_table>
        <div class="responsive-table">
         <table class="table table-striped table-bordered">
          <thead>
           <th style="font-size:12px;" scope="col"><input id="cb_app_check_all" type="checkbox" class="flat-blue"></th>
           <th style="font-size:12px;" scope="col"><b>店舗ID</b></th>
           <th style="font-size:12px;" scope="col"><b>店舗マスタ名</b></th>
           <th style="font-size:12px;" scope="col"><b>グループ名</b></th>
           <th style="font-size:12px;" scope="col"><b>担当者</b></th>
          </thead>
         </table>
        </div>
       </div>
       <div class="pre_data_content_hit_list" id = "pre_data_content_hit_list" ></div>
       <div class="pre_data_content_navigation">
       	<ul class="pre_data_content_navigation_ul">
       	 <li><a href="#"><<</a></li>
       	 <li><a href="#">1</a></li>
       	 <li><a href="#">>></a></li>
       	</ul>
       </div>
       <div class="pre_data_content_total_hit" style="display:none">
       	<span class="pre_data_content_total_hit_span">表示件数</span>
       	<select class="small_combobox" id="txt_one_page_limit_modal2" onchange="onePageLimitModalTwo()">
       	 <option value="20">20件</option>
       	 <option value="50">50件</option>
       	 <option value="100">100件</option>
       	</select>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pull-right">
       	<a class="btn btn-kujira btn-rounded" id="btn_add_store_bot">一括設定</a>
       	<a href='javascript:void(0)' onClick="getStoreJson(); return false;"></a>
       </div>
      </div>
     </div>
     <br>
    </div>
   </div>
  </div>
  <script src="/dist/js/icheck.js"></script>
  <script>
   $(function () {
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-orange',
      radioClass   : 'iradio_flat-orange'
    })

    $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });
   })
  </script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_group"]').parent().addClass('active');
})
  </script>
 </body>
</html>
