<%
  sidebar_collapse  = cookies["nonsidebar-collapse"]
  loginAccountObj = session["loginAccountObj"]
  #Map<String,String[]> paramsMap = request.getParameterMap();
  #JSONArray accountJsonArray = (AccountStrGetter.getInstance()).getAccountJson();
  accountArray = []
  Account.all.each do |account|
    accountArray << account
  end
  accountJsonArray = accountArray.to_json

  groupObjArray = SGroup.all #params["groupObjArray"]
  areaObjArray  = Area.all #params["areaObjArray"]
  onePageLimit  = session["one_page_limit"]
	mode = params["mode"]
	searchName = params["searchName"]
	searchManager = params["search_manager"]

	if (onePageLimit.nil? || onePageLimit.blank?)
		onePageLimit = "20";
	end
	pageNumStr = params["pageNumStr"]
	if (pageNumStr.nil? || pageNumStr.blank?)
		pageNumStr = "1";
	end
	searchMode = params["search_mode"]
	if (searchMode.nil? || searchMode.blank?)
		searchMode = "false";
	end
	pageNum = pageNumStr.to_i
	startPageNum = 1;
	endPageNum = 5;
	if (pageNumStr.to_i < 3)
		startPageNum = 1;
		endPageNum = 5;
	else
		startPageNum = pageNum - 2;
		endPageNum = pageNum + 2;
	end
	prefEnableFlg = (pageNum < 2) ? false : true;
	highPrefEnableFlg = (pageNum < 6) ? false : true;
	highPreNum = pageNum - 5;
	preNum = pageNum - 1;
	highNextNum = pageNum + 5;
	nextNum = pageNum + 1;

 ss = loginAccountObj['fullname']
 pict = ss.slice(0, 1);
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
 <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
			var app_store_id		= new Array("S0000001","S0000002","S0000003");
			var app_store_name		= new Array("あ　店","い　店","う　店");
			var app_store_group 	= new Array("心斎橋拠点","梅田拠点","難波拠点");
			var modalPageNum = 1;
			var startNum = 1;
			var endNum = 5;
			var onePageLimit = <%=onePageLimit%>;
			var storeJsonArray = [];

		    accountJsonArray = <%=accountJsonArray.to_s%>;
			accountOptions = "<option value=''>選択してください</option>";
		    for(var i = 0; i < accountJsonArray.length;i++){
				accountOptions += "<option value='" + accountJsonArray[i].id + "'>" + accountJsonArray[i].fullname + "</option>";
			}

			function initialize_screen(){

			}
			function setParam(name,value){
				var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', name);
                    input.setAttribute('value', value);
                    return input;
		    }

		   function addGroupManagerInput(){
				var last_counter = parseInt(document.getElementById("hidden_group_manager").value);
				    var addInnerHtml = "";
    				var addDiv = document.createElement('div');

					//var	div_store_manager_all = document.getElementById("div_store_manager_all").innerHTML;

					last_counter += 1;
					addInnerHtml += "<div class='div_dynamic_input_text' id='div_group_manager_" + last_counter + "'>" +
										  " <select name='cmb_group_manager' class='form-control' id='cmb_group_manager_"+ last_counter + "'>" +
										     accountOptions +
										     "</select><label style='font-size:12px;'>設定して頂いた担当者の方はこちらのグループの応募者情報を閲覧することができます。担当者は50人まで登録することができます。</label><br>" +  "<a class='btn btn-rounded btn-danger' style='float:left; margin-top:5px; margin-right:5px; margin-bottom:5px;' onclick='delete_manager(" + last_counter + ")' id='btn_del_group_manager_"
										  + last_counter + "' class='a_nav_link'>削除</a></div>";

					addDiv.innerHTML = addInnerHtml;

					document.getElementById("div_group_manager_all").appendChild(addDiv);
					document.getElementById("hidden_group_manager").value = last_counter;

			}

			function take_get_parameter() {
				var app_group_name = '${param.app_group_name}',
					app_group_manager = '${param.app_group_manager}',
					app_admin_comment = '${param.app_admin_comment}',
					app_group_store_id = '${param.app_group_store_id}',
					app_group_store_name = '${param.app_group_store_name}',
					app_group_store_group = '${param.app_group_store_group}';

				var group_store_id = app_group_store_id.split(",");		<!-- storeJsonArray.length =0 どうやってとったらいいのか？？？-->
				var check_box_app 		= document.getElementsByName("check_all_store");
				list_store_header_inner_html = document.getElementById("tbl_store_list").innerHTML;

				for (var i = 0; i < storeJsonArray.length; i++) {
					for(var j = 0; j < group_store_id.length;j++){
						if(storeJsonArray[i].id == group_store_id[j]){
							check_box_app[i].checked = true;
						}else{
							check_box_app[i].checked = false;
						}
					}
				}


//				document.getElementsByName("check_all_store") = check_box_app;



				document.getElementById("txt_group_name").value = app_group_name;

				if (app_group_manager != "") {
					var group_manager = new Array(),
						group_manager = app_group_manager.split(",");

					var div_group_manager_all = "";
					for (var i = 0; i < group_manager.length; i++) {
					     div_group_manager_all += "<div class='div_dynamic_input_text' id='div_group_manager_" + i + "'>" +
										  " <select name='cmb_group_manager' class='normal_combobox' id='cmb_group_manager_"+ i + "'>" +
										     accountOptions +
										     "</select> " + "<a onclick='delete_manager(" + i + ")' id='btn_del_group_manager_"
										  + i + "' class='a_nav_link'>削除</a></div>";
					};

					document.getElementById("div_group_manager_all").innerHTML = div_group_manager_all;
					for (var i = 0; i < group_manager.length; i++) {
						document.getElementById("cmb_group_manager_" + i + "").value = group_manager[i];
					}
				}else{
					 addGroupManagerInput();
				}

				document.getElementById("txt_admin_comment").value = app_admin_comment;

				if (app_group_store_id != "") {
					var list_store_inner_html = document.getElementById("tbl_store_list").innerHTML,
						group_store_id = app_group_store_id.split(","),
						group_store_name = app_group_store_name.split(","),
						group_store_group = app_group_store_group.split(",");


					for (var i = 0; i < group_store_id.length; i++) {
						list_store_inner_html += "<div class='content_table_row' id='del_row_no_" + i + "'>";
						list_store_inner_html += "<div class='content_table_cell' style='text-align:center;'><p name='p_app_store_id'>" +
											   group_store_id[i] + "</p></div>" +
											   "<div class='content_table_cell' style='text-align:center;'>" +
											   "<p name='p_app_store_name' id='p_app_store_name_" +  i + "'>" +
											   group_store_name[i] + "</p></div>" +
											   "<div class='content_table_cell' style='text-align:center;'>" +
											   "<p name='p_app_store_group' id='p_app_store_group_" + i + "'>" +
											   group_store_group[i] + "</p></div>" +
											   "<div class='content_table_cell' style='text-align:center;'>" +
											   "<a class='a_nav_link' onclick='delete_store_selected_list(" + i + ")'>解除</a></div>";
						list_store_inner_html += "</div>";
					};

					document.getElementById("tbl_store_list").innerHTML = list_store_inner_html;
				}
			}

	  function getSelecterJson(fromSelecter,toSelecter,url){
		    var prefSelect = document.getElementById(fromSelecter);
			var index = prefSelect.selectedIndex;
			var selected;
            if (index != 0){
              selected = prefSelect.options[index].value;
            }
           url = url + selected;

            var request = new XMLHttpRequest();
            request.onreadystatechange = function() {
				if (request.readyState == 4 && request.status == 200) {
				    var jsonArray =  JSON.parse(request.responseText);
				    var select = document.getElementById(toSelecter);
                        while (select.options.length) {
                           select.remove(0);
                         }
                      var initOption = document.createElement('option');
                       initOption.setAttribute('value','');
					   initOption.innerHTML = '選択してください';
					   select.appendChild(initOption);
				    for( i = 0; i < jsonArray.length;i++){
                       var option = document.createElement('option');
					   option.setAttribute('value',(jsonArray[i].id));
					   option.innerHTML = jsonArray[i].name;
					   select.appendChild(option);

					}
				}
	       }
            request.open("GET", url, true);
            request.send("");
		}

		function moveModalList(num) {
				modalPageNum = num;
				getStoreJson();
			}
		function resetSearchInfo() {
				modalPageNum = 1;
				document.getElementById("txt_store_name").value = "";
				document.getElementById("txt_store_area").value = "";
				document.getElementById("txt_work_loc_todoufuken").value = "";
				document.getElementById("txt_work_loc_shikuchouson").value = "";
				document.getElementById("txt_store_group").value = "";
				document.getElementsByName('rad')[0].checked = false;
				document.getElementsByName('rad')[1].checked = false;

				getStoreJson();
		}
		function onePageLimitModalOne(){

				console.log("aiu");
				onePageLimit = document.getElementById("txt_one_page_limit_modal").value
				window.sessionStorage.setItem('one_page_limit',onePageLimit);
				console.log(document.getElementById("txt_one_page_limit_modal").value);
				getStoreJson();
		}
		function onePageLimitModalTwo(){

				console.log("aiu2");
				onePageLimit = document.getElementById("txt_one_page_limit_modal2").value
				window.sessionStorage.setItem('one_page_limit',onePageLimit);
				console.log(document.getElementById("txt_one_page_limit_modal2").value);
				getStoreJson();
		}
	   function getStoreJson(){
			document.getElementById("txt_one_page_limit_modal").value = onePageLimit;
			document.getElementById("txt_one_page_limit_modal2").value = onePageLimit;
		    var url ="/get_store?"
		    var appStoreName = document.getElementById("txt_store_name").value;

		    if(appStoreName != ""){
		       url =  url + "app_store_name=" + appStoreName + "&";
		    }

		    //txt_store_area

		    var areaSelect = document.getElementById("txt_store_area");
			var area;
            if (areaSelect.selectedIndex != 0){
              area = areaSelect.options[areaSelect.selectedIndex].value;
              url = url +  "area=" + area + "&";
            }

            var prefSelect =  document.getElementById("txt_work_loc_todoufuken");
            var pref;
            if (prefSelect.selectedIndex != 0){
              pref = prefSelect.options[prefSelect.selectedIndex].value;
              url = url +  "pref=" + pref + "&";
            }


            var citySelect =  document.getElementById("txt_work_loc_shikuchouson");
            var city;
            if (citySelect.selectedIndex != 0){
              city = citySelect.options[citySelect.selectedIndex].value;
              url = url +  "city=" + city + "&";
            }
            var groupSelect =  document.getElementById("txt_store_group");
            var group;
            if (groupSelect.selectedIndex != 0){
              group = groupSelect.options[groupSelect.selectedIndex].value;
              url = url +  "group=" + group + "&";
            }
			var status = document.getElementsByName('rad')[1].checked ;
			if(status == true){
				url = url + "status=" + "-1" + "&";
			}

            url = url +  "page=" + modalPageNum + "&";
            url = url + "onePageLimit=" + onePageLimit + "&";

		    var request = new XMLHttpRequest();
		    var storeTable = document.getElementById("store_table");
		    var pagings = document.getElementsByClassName("pre_data_content_navigation");

		    //ページングの要素が二個あるので
		    for (var i = 0; i < pagings.length; i++) {
				while (pagings[i].firstChild) {
					pagings[i].removeChild(pagings[i].firstChild);
			    }
			}

		    while (storeTable.firstChild) {
               storeTable.removeChild(storeTable.firstChild);
            }

            request.onreadystatechange = function() {
				if (request.readyState == 4 && request.status == 200) {
				    storeJsonArray =  JSON.parse(request.responseText);







                    var createDev = document.createElement("table");
					createDev.className = "table table-striped table-bordered responsive-table";
				     storeTableInnerHtml = "<thead>" +
				     					   " <center><th style='font-size:12px; width:30px;' scope='col'><input id='cb_app_check_all' type='checkbox'></th></center>" +
				     					   " <th style='font-size:12px; width:100px;' scope='col'><b>店舗ID</b></th>" +
				     					   " <th style='font-size:12px; width:320px;' scope='col'><b>店舗マスタ名</b></th>" +
				     					   " <th style='font-size:12px; width:200px;' scope='col'><b>グループ名</b></th>" +
				     					   " <th style='font-size:12px; width:200px;' scope='col'><b>担当者</b></th>" +
				     					   "</thead>";
					createDev.innerHTML = storeTableInnerHtml;
					storeTable.appendChild(createDev);

					var selectStoreId = document.getElementsByName("p_app_store_id");
				    for( var j = 0; j < storeJsonArray.length;j++){
                    var createDev = document.createElement("table");
					createDev.className = "table table-striped table-bordered responsive-table";
						var checked = false;
						for(var i = 0; i < selectStoreId.length ; i++){
							if(storeJsonArray[j].id == selectStoreId[i].innerHTML){
								checked = true;
							}
						}
						if(checked == true)
							hstoreTableInnerHtml = "<tbody>" +
												   " <th style='font-size:12px; width:30px;' scope='row'><center><input type='checkbox' name='check_all_store' checked /></center></th>" ;
						else
							hstoreTableInnerHtml = "<tbody>" +
												   " <th style='font-size:12px; width:30px;' scope='row'><center><input type='checkbox' name='check_all_store'/></center></th>";
							storeTableInnerHtml =  " <td style='font-size:12px; width:100px;' data-title='店舗ID'>" + storeJsonArray[j].id + "</td>" +
												   " <td style='font-size:12px; width:320px;' data-title='店舗マスタ名'>" + storeJsonArray[j].name + "</td>" +
												   " <td style='font-size:12px; width:200px;' data-title='グループ名'>" + storeJsonArray[j].group + "</td>" +
												   " <td style='font-size:12px; width:200px;' data-title='担当者'>" + storeJsonArray[j].manager + "</td>" +
												   "</tbody>";

					   	 createDev.innerHTML = hstoreTableInnerHtml+storeTableInnerHtml;
						//storeTable.innerHTML ='<p>Hello World!!!2</p>';
						//storeTable.innerHTML =storeTableInnerHtml;
							storeTable.appendChild(createDev);


					    document.getElementById("cb_app_check_all").addEventListener("click", function(){
							var check_box_all 	= document.getElementById("cb_app_check_all").checked;
							var check_box_app 	= document.getElementsByName("check_all_store");
							var counter 		= 0;

							for (var i = 0; i < check_box_app.length; i++) {
								if(check_box_all == true) {
									counter ++;
									check_box_app[i].checked = true;
								}
									else{
									check_box_app[i].checked = false;
								}
							};
						});

					}

				}
	       }
           request.open("GET",url, true);
           request.send("");


	   }
		function getHitlistCount(){
			var maxCount,
				fromCount,
				toCount;

			if(storeJsonArray.length > 0){
				maxCount = storeJsonArray[0].maxCount;
				fromCount = (modalPageNum-1)*onePageLimit + 1;
				toCount   = fromCount - 1   + storeJsonArray.length;
			}else{
				maxCount = 0;
				fromCount = 0;
				toCount   = 0;
			}

			document.getElementById("pre_data_content_hit_list").innerHTML = maxCount+"件中　"+fromCount+"　〜　"+toCount+"　件表示";
		}


			$(function(){
				//initialize
				initialize_screen();
				take_get_parameter();


				//add key up process to element
				$("#txt_admin_comment").keyup(function(){
    				var text_length = $("#txt_admin_comment").val().length;
    				$("#span_admin_comment_total_char").html(text_length);
    			});

				//event add item store name, interviewer name, interviewer email
				$("#btn_add_group_manager").click(function(){
				/*	var last_counter = parseInt(document.getElementById("hidden_group_manager").value);
					var	div_store_manager_all = document.getElementById("div_group_manager_all").innerHTML;

					last_counter += 1;
					div_store_manager_all += "<div class='div_dynamic_input_text' id='div_store_manager_" + last_counter +
										   "'><input type='text' name='txt_store_manager' class='normal_input_text' id='txt_store_manager_"
										  + last_counter + "' />" +
										  " <a onclick='delete_store_manager(" + last_counter + ")' id='btn_del_store_manager_" +
										  last_counter + "' class='a_nav_link'>削除</a></div>";

					document.getElementById("div_store_manager_all").innerHTML = div_store_manager_all;
					document.getElementById("hidden_store_manager").value = last_counter;*/
					addGroupManagerInput();
				});


				$("#btn_confirm_data_change").click(function(){
					if(check_blank_text_box() == 0){
						//generate_get_parameter();
						toServlet();
					}
				});


				//modal related function
				$("#btn_add_store").click(function(){
    				var modal = document.getElementById("my_mail_modal");
					modal.style.display = "block";
    			});
    			$("#btn_close_modal").click(function(){
    				var modal = document.getElementById("my_mail_modal");
					modal.style.display = "none";
    			});


    			$("#btn_add_store_top").click(function(){
    				var modal = document.getElementById("my_mail_modal");

    				if(get_total_selected_checkbox() > 0) {
    					get_total_selected_store();
						modal.style.display = "none";
    				}
    				else
    					alert("一括設定処理対象を選択してください。");

    			});

    			$("#btn_add_store_bot").click(function(){
    				var modal = document.getElementById("my_mail_modal");

    				if(get_total_selected_checkbox() > 0) {
    					get_total_selected_store();
						modal.style.display = "none";
    				}
    				else
    					alert("一括設定処理対象を選択してください。");
    			});


    			getStoreJson();
			});


			function toServlet() {
				var app_group_store_id= "";
				var app_group_store_name = "";
				var app_group_store_group = "";
				var count=0;
				var id = document.getElementsByName("p_app_store_id");
				var name = document.getElementsByName("p_app_store_name");
				var group = document.getElementsByName("p_app_store_group");

				for(var i = 0; i < id.length ; i++){
					if(count == 0){
						app_group_store_id += id[i].innerHTML;
						app_group_store_name += name[i].innerHTML;
						app_group_store_group += group[i].innerHTML;
					}else{
						app_group_store_id += ","+id[i].innerHTML;
						app_group_store_name += ","+name[i].innerHTML;
						app_group_store_group += ","+group[i].innerHTML;
					}
					count++;
				}

				var inputSelectStoreId = setParam('app_group_store_id',app_group_store_id);
				var inputSelectStoreName = setParam('app_group_store_name',app_group_store_name);
				var inputSelectStoreGroup = setParam('app_group_store_group',app_group_store_group);
				var inputName = setParam('app_group_name',document.getElementById("txt_group_name").value);
				var inputManager   = setParam('app_group_manager',get_multi_group_manager());
				var inputAdminComment       = setParam('app_admin_comment',document.getElementById("txt_admin_comment").value);
				var inputCheckBoxApp = setParam('check_box_app',document.getElementsByName("check_all_store"));
				var inputStoreJsonArray = setParam('storeJsonArray',storeJsonArray);

				var f = document.createElement("form");
                f.setAttribute('method',"post");
                f.setAttribute('action',"/setting_group_create_conf");
                f.appendChild(inputSelectStoreId);
                f.appendChild(inputSelectStoreName);
                f.appendChild(inputSelectStoreGroup);
                f.appendChild(inputName);
                f.appendChild(inputManager);
                f.appendChild(inputAdminComment);
                f.appendChild(inputCheckBoxApp);
                f.appendChild(inputStoreJsonArray);
				var bodyElement = document.body ;
                bodyElement.append(f);
                f.submit();
			}

			//function add store to list 応募者選択ボタン押下、応募者選択後、閉じるボタンで生成する選択された応募者のリスト表
			function get_total_selected_store() {
				var check_box_app 		= document.getElementsByName("check_all_store");
				var counter 			= 0;
				//var list_store_inner_html = document.getElementById("tbl_store_list").innerHTML;
				var list_store_inner_html = "";
				for (var i = 0; i < check_box_app.length; i++) {
					if(check_box_app[i].checked == true){
						list_store_inner_html += "<div class='content_table_row' id='del_row_no_" + i + "'>";
						list_store_inner_html += "<table class='table table-striped table-bordered responsive-table'>" +
												 " <tbody>" +
												 "  <th scope='col' name='p_app_store_id'>" + storeJsonArray[i].id + "</th>" +
												 "  <td style='font-size:12px;' data-title='店舗マスタ名' name='p_app_store_name' id='p_app_store_name_" +  i + "'>" + storeJsonArray[i].name +"</td>" +
												 "  <td style='font-size:12px;' data-title='店舗マスタ名' name='p_app_store_group' id='p_app_store_group_" + i + "'>" + storeJsonArray[i].group +"</td>" +
												 "  <td style='font-size:12px;' data-title='店舗マスタ名'><a class='a_nav_link' onclick='delete_store_selected_list(" + i + ")'>解除</a></td>" +
												 " </tbody>" +
												 "</table>";
						list_store_inner_html += "</div>";
					}
				};
				document.getElementById("tbl_store_list").innerHTML = list_store_header_inner_html+list_store_inner_html;
			}

			function delete_store_selected_list(index){
				var conf = confirm("削除します。よろしいですか？")

				if (conf == true) {
					$("#del_row_no_" + index).remove();
				}
				getStoreJson();
			}

			function get_total_selected_checkbox(){
				var counter = 0;
				var check_box_app 	= document.getElementsByName("check_all_store");

				for (var i = 0; i < check_box_app.length; i++) {
					if (check_box_app[i].checked == true)
						counter ++;
				};

				return counter;
			}

			function delete_manager (index) {
				$("#div_group_manager_" + index).remove();
			}


			function delete_interviewer_name_email(index){
				$( "#div_interviewer_name_" + index ).remove();
			}

			//checking blank text box
			function check_blank_text_box(){
				var status = 0;
				var txt_group_name = document.getElementById("txt_group_name").value;

				window.location.hash = '#check';

				document.getElementById("div_group_name_error").innerHTML = "";

				if(txt_group_name == "") {
					document.getElementById("div_group_name_error").innerHTML = "グループ名は必須です。";
					status = 1;
				}

				return status;

			}

			//get multi line values
			function get_multi_group_manager() {
				var group_manager_list = "",
					cmb_group_manager = document.getElementsByName("cmb_group_manager");

				for (var i = 0; i < cmb_group_manager.length; i++) {
					if (cmb_group_manager[i].value != "") {
						if(i == 0)
							group_manager_list += cmb_group_manager[i].value;
						else
							group_manager_list += "," + cmb_group_manager[i].value;
					}
				};

				//alert('group_manager_list======='  + group_manager_list);

				return group_manager_list;
			}
			//function generate get parameter
		/*	function generate_get_parameter(){
				var link = "setting_group_create_conf.html?";

				var app_group_name = document.getElementById("txt_group_name").value;
				var app_group_manager = get_store_manager_list();
				var app_admin_comment = document.getElementById("txt_group_name").value;
				var app_group_store_id = "",
					app_group_store_name = "",
					app_group_store_group = "";

				var p_app_store_id = document.getElementsByName("p_app_store_id"),
					p_app_store_name = document.getElementsByName("p_app_store_name"),
					p_app_store_group = document.getElementsByName("p_app_store_group");

				for (var i = 0; i < p_app_store_id.length; i++) {
					if (i == 0) {
						app_group_store_id +=  p_app_store_id[i].innerHTML;
						app_group_store_name += p_app_store_name[i].innerHTML;
						app_group_store_group += p_app_store_group[i].innerHTML;
					}
					else {
						app_group_store_id += "," + p_app_store_id[i].innerHTML;
						app_group_store_name += "," + p_app_store_name[i].innerHTML;
						app_group_store_group += "," + p_app_store_group[i].innerHTML;
					}
				};

				link += "app_group_name=" + app_group_name + "&app_group_manager=" + app_group_manager +
						"&app_admin_comment=" + app_admin_comment + "&app_group_store_id=" + app_group_store_id +
						"&app_group_store_name=" + app_group_store_name + "&app_group_store_group=" + app_group_store_group;

				window.location.href = link;
			}*/
  </script>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" id="check">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>グループ登録</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_group"><i class="fa fa-cogs"></i> ト設定</a></li>
      <li class="active">グループ登録</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
      <section class="col-md-12 col-xs-12">
       <div class="callout callout-warning">
        <h4 style="font-size:16px;">グループ登録</h4>
       </div>
       <div class="row">
        <div class="col-md-12 col-xs-12">
         <div class="box box-kujira box-solid">
          <div class="box-header with-border">
           グループ登録
          </div>
          <div class="box-body">
           <div class="form-group">
       	    <h6 class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="font-size:12px;">グループID</h6>
       	    <h6 class="col-sm-6 col-xs-12" style="font-size:12px;">システムにより自動採番されます。 </h6>
           </div>
          </div>
       	  <div class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
       	   <div class="form-group">
       	   	<h6 class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="font-size:12px;">グループ名 <span style="font-size:12px; background-color: #d9534f; border-color: #d43f3a; padding:5px; border-radius: 3px; color: #fff;">必須</span></h6>
       	   	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
       	   	 <input type="text" id="txt_group_name" class="form-control" />
       	   	 <div id="div_group_name_error" style="color: red;" class="error_msg"></div>
       	   	</div>
       	   </div>
       	  </div>
       	  <div class="box-body">
       	   <div class="form-group">
       	   	<h6 class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="font-size:12px;">グループ担当者</h6>
       	   	<div class="col-lg-7 col-md-4 col-sm-12 col-xs-12">
       	   	 <div id="div_group_manager_all"></div>
       	   	 <div><a class='btn btn-rounded btn-kujira' style='margin-top:5px;' id="btn_add_group_manager">追加</a></div>
       	   	 <div id="div_group_manager_error" style="color: red;" class="error_msg"></div>
       	   	 <input type="hidden" id="hidden_group_manager" value="0"/>
       	   	</div>
       	   </div>
       	  </div>
       	  <div class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
       	   <div class="form-group">
       	   	<h6 class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="font-size:12px;">管理者コメント</h6>
       	   	<div class="col-lg-7 col-md-4 col-sm-12 col-xs-12">
       	   	 <textarea id="txt_admin_comment" class="form-control" style="resize:none;"></textarea>
       	   	 (<span id="span_admin_comment_total_char">0</span> / 1000文字)
       	   	</div>
       	   </div>
       	  </div>
       	 </div>
       	</div>
       </div>
       <div class="row">
       	<div class="box-body">
         <div class="form-group">
          <h6 class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="font-size:12px;">グループに所属・追加したい店舗は店舗設定より登録して下さい。</h6>
         </div>
         <div class="form-group">
          <div class="pull-right">
           <a class="btn btn-rounded btn-kujira" id="btn_add_store" >店舗設定</a>
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-md-12 col-xs-12">
         <div class="form-group">
          <h4 class="page-header" style="border-bottom:1px solid #ee7800; font-size:12px;">登録済み店舗</h4>
         </div>
        </div>
       </div>
       <div class="row">
       	<div class="col-md-12">
       	 <div id="tbl_store_list">
       	  <div class="responsive-table">
       	   <table class="table table-striped table-bordered">
       	    <thead>
       	  	 <tr>
       	   	  <th style="font-size:12px;" scope="col"><b>店舗ID</b></th>
              <th style="font-size:12px;" scope="col"><b>店舗マスタ名</b></th>
              <th style="font-size:12px;" scope="col"><b>グループ名</b></th>
              <th style="font-size:12px;" scope="col"><b>操作メニュー</b></th>
       	     </tr>
       	    </thead>
       	   </table>
       	  </div>
       	 </div>
       	</div>
       </div>
       <br>
       <div class="row">
        <div class="col-md-12 col-xs-12" id="footer_go_to_confirmation">
         <div class="pull-left">
         	<a class="btn btn-warning btn-rounded" href="/setting_group">< 戻る</a>
         </div>
         <div class="text-center">
         	<a class="btn btn-rounded  btn-warning" id="btn_confirm_data_change">入力内容を確認</a>
         </div>
        </div>
       </div>
      </section>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <div id="my_mail_modal" class="w3-modal" style="margin-bottom: 20px;">
   <div class="w3-modal-content w3-card-4" style="border-radius: 10px;">
    <header class="w3-container w3-teal" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
     <img src="/res/img/send_email.png" style="width:50px; padding-top:5px; padding-bottom: 5px; padding-right:5px;float:left;"/>
     <span id="btn_close_modal" class="w3-button w3-display-topright" style="border-top-right-radius: 10px; font-size:12px;" onclick="close_dialog()">閉じる</span>
     <h4 style="margin-top: 9px; font-size:12px;"><center>グループに追加する店舗の選択</center></h4>
    </header>
    <div class="w3-container modd">
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="box box-kujira">
        <div class="box-header with-border">
         検索メニュー
        </div>
        <div class="box-body">
         <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
          <div class="form-group">
           <div class="pull-right">
            <a style="color:#000;" class="btn btn-rounded btn-kujira" href="#" onClick="resetSearchInfo(); return false;">検索項目をリセット</a>
           </div>
          </div>
         </div>
         <div class="form-group">
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">勤務地 / エリア</label>
           <select class="form-control" id="txt_store_area"  onChange="getSelecterJson('txt_store_area','txt_work_loc_todoufuken','/get_prefecture?area=')">
            <option value="">選択してください。</option>
            <% areaObjArray.each do |area| %>
            <option value="<%=area.id%>"><%=area.name%></option>
           	<% end %>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">グループ</label>
           <select class="form-control" id="txt_store_group">
            <option value="">選択してください。</option>
            <% groupObjArray.each do |group| %>
            <option value="<%=group.id%>"><%=group.name%></option>
            <% end %>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">都道府県</label>
           <select class="form-control" id="txt_work_loc_todoufuken"   onChange="getSelecterJson('txt_work_loc_todoufuken','txt_work_loc_shikuchouson','/get_city?pref=')">
           	<option value=""></option>
           </select>
          </div>
          <div class="col-md-3 col-xs-12">
           <label style="font-size: 12px;">市区町村</label>
           <select class="form-control" id="txt_work_loc_shikuchouson">
            <option value=""></option>
           </select>
          </div>
          <div class="col-md-8 col-xs-12" style="margin-top: 10px;">
           <label style="font-size: 12px;">設定状況</label><br/>
           <div class="col-md-3 col-xs-12">
            <div class="form-group">
             <label style="font-size: 12px;">
              <input type="radio" class="flat-red" name="rad"> &nbsp;
              指定しない
             </label>
            </div>
           </div>
           <div class="col-md-5 col-xs-12">
            <div class="form-group">
             <label style="font-size: 12px;">
              <input type="radio" class="flat-red" name="rad"> &nbsp;
              グループ未設定のみ
             </label>
            </div>
           </div>
          </div>
          <div class="col-md-4 col-xs-12" style="margin-top: 10px;">
           <label style="font-size: 12px;">店舗マスタ名</label>
           <input class="form-control" id="txt_store_name" type="text">
          </div>
         </div>
        </div>
        <div class="box-body">
         <div class="col-md-12 col-xs-12">
          <div class="text-center">
           <a class="btn btn-rounded btn-kujira" href="javascript:void(0)" onClick="getStoreJson(); return false;">検索</a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pull-right">
       	<a class="btn btn-kujira btn-rounded" id="btn_add_store_top">一括設定</a>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pre_data_content_hit_list" id="pre_data_content_hit_list"></div>
       <div class="pre_data_content_navigation">
        <ul>
       	 <li><a href="#"><<</a></li>
       	 <li><a href="#">1</a></li>
       	 <li><a href="#">>></a></li>
        </ul>
       </div>
       <div class="pre_data_content_total_hit" style="display:none">
        <span class="pre_data_content_total_hit_span">表示件数</span>
        <select class="small_combobox" id="txt_one_page_limit_modal" onchange="onePageLimitModalOne()">
         <option value="20">20件</option>
       	 <option value="50">50件</option>
       	 <option value="100">100件</option>
        </select>
       </div>
       <div id=store_table>
        <div class="responsive-table">
         <table class="table table-striped table-bordered">
          <thead>
           <th style="font-size:12px;" scope="col"><input id="cb_app_check_all" type="checkbox" class="flat-blue"></th>
           <th style="font-size:12px;" scope="col"><b>店舗ID</b></th>
           <th style="font-size:12px;" scope="col"><b>店舗マスタ名</b></th>
           <th style="font-size:12px;" scope="col"><b>グループ名</b></th>
           <th style="font-size:12px;" scope="col"><b>担当者</b></th>
          </thead>
         </table>
        </div>
       </div>
       <div class="pre_data_content_hit_list" id = "pre_data_content_hit_list" ></div>
       <div class="pre_data_content_navigation">
       	<ul class="pre_data_content_navigation_ul">
       	 <li><a href="#"><<</a></li>
       	 <li><a href="#">1</a></li>
       	 <li><a href="#">>></a></li>
       	</ul>
       </div>
       <div class="pre_data_content_total_hit" style="display:none">
       	<span class="pre_data_content_total_hit_span">表示件数</span>
       	<select class="small_combobox" id="txt_one_page_limit_modal2" onchange="onePageLimitModalTwo()">
       	 <option value="20">20件</option>
       	 <option value="50">50件</option>
       	 <option value="100">100件</option>
       	</select>
       </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="pull-right">
       	<a class="btn btn-kujira btn-rounded" id="btn_add_store_bot">一括設定</a>
       	<a href='javascript:void(0)' onClick="getStoreJson(); return false;"></a>
       </div>
      </div>
     </div>
     <br>
    </div>
   </div>
  </div>
  <script src="/dist/js/icheck.js"></script>
  <script>
   $(function () {
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-orange',
      radioClass   : 'iradio_flat-orange'
    })

    $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });
   })
  </script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_group"]').parent().addClass('active');
})
  </script>
 </body>
</html>
