<%
  sidebar_collapse = "nonsidebar-collapse";
  loginAccountObj = session["loginAccountObj"]

  ss = loginAccountObj['fullname'] unless loginAccountObj.nil?
  pict = ss.nil? ? '' : ss.slice(0, 1)
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script>
      function initialize_screen(){

      }

      $(function() {
          //initial function call
          initialize_screen();
          clear_all_input_field();
          take_get_parameter();

      });

      //function take get_parameter from link
      function take_get_parameter(){

        var app_start_date    = '${param.app_start_date}',
          app_end_date    = '${param.app_end_date}',
          app_title     = '${param.app_title}',
          app_purpose     = '${param.app_purpose}';

        document.getElementById("txt_start_date").value = ""; //app_start_date;
        document.getElementById("txt_end_date").value = ""; //app_end_date;
        document.getElementById("txt_title").value = ""; //app_title;
        document.getElementById("txt_purpose").value = ""; //app_purpose;
      }

      function setParam(name,value){
        var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', name);
                    input.setAttribute('value', value);
                    return input;
        }

      //redirect to confirmation page
      function redirect_to_confirm_page() {

        var app_start_date = document.getElementById("txt_start_date").value,
          app_end_date = document.getElementById("txt_end_date").value,
          app_title = document.getElementById("txt_title").value,
          app_purpose = document.getElementById("txt_purpose").value;

/*
 *        var link = "setting_notification_create_conf.html?";

        link += "app_start_date=" + app_start_date + "&app_end_date=" + app_end_date + "&app_title=" + app_title +
            "&app_purpose=" + app_purpose ;

        window.location.href = link;
*/
        var onePageLimit = '${param.one_page_limit}';
        var f = document.createElement('form');
        f.setAttribute('method','post');
        f.setAttribute('action','/notifications/conf');;
        var inputOnePageLimit = setParam('one_page_limit',onePageLimit);
        var inputStartDate = setParam('app_start_date',app_start_date);
        var inputEndDate = setParam('app_end_date',app_end_date);
        var inputTitle = setParam('app_title',app_title);
        var inputPurpose = setParam('app_purpose',app_purpose);
        f.appendChild(inputOnePageLimit);
        f.appendChild(inputStartDate);
        f.appendChild(inputEndDate);
        f.appendChild(inputTitle);
        f.appendChild(inputPurpose);

        var bodyElement = document.body ;
                bodyElement.append(f);
                f.submit();
      }

      //validation
      function validate_empty_text() {
        var txt_start_date = document.getElementById("txt_start_date").value;
        var txt_end_date = document.getElementById("txt_end_date").value;
        var txt_title = document.getElementById("txt_title").value;
        var txt_purpose = document.getElementById("txt_purpose").value;

        var status = 0;

        window.location.hash = '#check';

        $("#div_publish_date_error").html("");
        $("#div_title_error").html("");
        $("#div_purpose_error").html("");

        if (txt_start_date == "" || txt_end_date == "") {
          $("#div_publish_date_error").html("掲載期間は必須です。");
          status = 1;
        }

        if (txt_title == "") {
          $("#div_title_error").html("タイトルは必須です。");
          status = 1;
        }

        if (txt_purpose == "") {
          $("#div_purpose_error").html("内容は必須です。");
          status = 1;
        }

        return status;
      }
  </script>

 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" id="check">
   <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>お知らせ設定</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/notifications"><i class="fa fa-cogs"></i> ト設定</a></li>
      <li class="active">お知らせ設定</li>
     </ol>
    </section>
    <section class="content">
      <%= render partial: "form" %>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
   function clear_all_input_field(){
    //document.getElementById("").value = "";
   }
  </script>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/notifications"]').parent().addClass('active');


    //action before submit data
          $("#btn_confirm_data_change").click(function (){
            if ( validate_empty_text() != 1 ) {
              redirect_to_confirm_page();
            }
          });
    //setting keybord event
          $("#txt_title").keyup(function(){
            var text_length = $("#txt_title").val().length;
            $("#span_title_total_char").html(text_length);
          });
          $("#txt_purpose").keyup(function(){
            var text_length = $("#txt_purpose").val().length;
            $("#span_purpose_total_char").html(text_length);
          });
        })
  </script>

 </body>
</html>

<%= render partial: "common/calendar" %>
