<%
  sidebar_collapse = "nonsidebar-collapse";
  loginAccountObj = session["loginAccountObj"]

  ss = loginAccountObj['fullname'] unless loginAccountObj.nil?
  pict = ss.nil? ? '' : ss.slice(0, 1)
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>

 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" id="check">
   <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>お知らせ設定</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/notifications"><i class="fa fa-cogs"></i> ト設定</a></li>
      <li class="active">お知らせ設定</li>
     </ol>
    </section>

    <section class="content">
     <div class="row">
       <%= render partial: "form" %>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
   function clear_all_input_field(){
    //document.getElementById("").value = "";
   }
  </script>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/notifications"]').parent().addClass('active');


    //action before submit data
          $("#btn_confirm_data_change").click(function (){
            if ( validate_empty_text() != 1 ) {
              redirect_to_confirm_page();
            }
          });
    //setting keybord event
          $("#txt_title").keyup(function(){
            var text_length = $("#txt_title").val().length;
            $("#span_title_total_char").html(text_length);
          });
          $("#txt_purpose").keyup(function(){
            var text_length = $("#txt_purpose").val().length;
            $("#span_purpose_total_char").html(text_length);
          });


})
  </script>

   <!--　カレンダー表示　-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
  <script type="text/javascript">
    $(function(){
      $("#txt_start_date").datepicker({
        autoclose: true,
        onClose: function(dateText, inst) {
          $('#txt_end_date').datepicker('option', 'minDate', dateText);
        }
      });
      $("#txt_end_date").datepicker({
        autoclose: true,
        onClose: function(dateText, inst) {
          $('#txt_start_date').datepicker('option', 'maxDate', dateText);
        }
      });
      $(".ui-datepicker").css("font-size", "100%");
    });
  </script>
 <!--　カレンダー表示　-->

 </body>
</html>

<%= render partial: "common/calendar" %>
