<%
  sidebar_collapse = cookies["nonsidebar-collapse"]

  @loginAccountObj = session["loginAccountObj"]
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
        document.addEventListener('DOMContentLoaded',
        function(){
            initialize_screen();
            clear_all_input_field();
            take_get_parameter();
        }
      );


      function initialize_screen(){

      }

      function setParam(name,value){
        var input = document.createElement('input');
        input.setAttribute('type','hidden');
        input.setAttribute('name',name);
        input.setAttribute('value',value);
        return input;

      }


      function take_get_parameter(){

        var app_site_id = '<%=@recruitment_site.id%>',
          app_site_name = '<%=@recruitment_site.site_name%>',
          app_job_offer_name = '<%=@m_site.name%>',
          app_id = '<%=@m_site.user_id.to_s%>',
          app_password = '<%=@m_site.password%>',
          app_url = '<%=@m_site.url%>',
          app_no_scraping_flg = '<%=@m_site.no_scraping_flg.to_s%>' ,
          app_no_scraping_txt = '<%=@app_no_scraping_txt%>';

        document.getElementById("txt_password").value = app_password;
        document.getElementById("span_site_name").innerHTML = app_site_name;
        document.getElementById("span_job_offer_name").innerHTML = app_job_offer_name;
        document.getElementById("span_id").innerHTML = app_id;
        document.getElementById("span_url").innerHTML = app_url;
        document.getElementById("span_no_scraping_txt").innerHTML = app_no_scraping_txt;

        if(app_no_scraping_flg > 1){
          $('#div_id_box').hide();
          $('#div_password_box').hide();
          $('#div_url_box').hide();
          $('#div_no_scraping_txt_box').hide();
        } else {
          $('#div_id_box').show();
          $('#div_password_box').show();
          $('#div_url_box').show();
          $('#div_no_scraping_txt_box').show();
        }
      }


      function back(){
        var f = document.createElement("form");
        f.setAttribute('method',"post");
        f.setAttribute('action',"/setting_site_create");
        <%
        params.each do |key, value|
        %>
          f.appendChild(setParam('<%=key%>','<%=value%>'));
        <%
        end
        %>
        var bodyElement = document.body ;
        bodyElement.append(f);
        f.submit();
      }

      function sendConfirmedData(){
        var f = document.createElement("form");
        f.setAttribute('method',"post");
        f.setAttribute('action',"/m_sites");


        <%
        params.each do |key, value|
        %>
        f.appendChild(setParam('<%=key%>','<%=value%>'));
        <%
        end
        %>
        var bodyElement = document.body ;
        bodyElement.append(f);

        f.submit();
      }
  </script>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>求人掲載サイト登録</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_site"><i class="fa fa-cogs"></i> 設定</a></li>
      <li class="active">求人掲載サイト登録</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="callout callout-warning">
        <h4 style="font-size:16px;">求人掲載サイト登録確認</h4>
       </div>
       <div class="row">
        <div class="col-md-12 col-xs-12">
         <div class="box box-kujira">

          <div class="box-body">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">掲載サイト</h6>
            <div class="col-sm-10 col-xs-12" id="span_site_name"></div>
           </div>
          </div>

          <div class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">求人案件名</h6>
            <div class="col-sm-10 col-xs-12" id="span_job_offer_name"></div>
           </div>
           <%= params['txt_job_offer_name'] %>
          </div>

          <div id="div_id_box" class="box-body">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">ID</h6>
            <div class="col-sm-10 col-xs-12" id="span_id"></div>
           </div>
          </div>

          <div id="div_password_box" class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">パスワード</h6>
            <div class="col-lg-3 col-sm-10 col-xs-12">
             <input type="password" id="txt_password" class="form-control" disabled="true"/>
            </div>
           </div>
          </div>

          <div id="div_url_box" class="box-body">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">サイトアドレス</h6>
            <div class="col-sm-10 col-xs-12" id="span_url"></div>
           </div>
          </div>

          <div id="div_no_scraping_txt_box" class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
           <div class="form-group">
            <h6 class="col-sm-2 col-xs-12" style="font-size:12px;">自動取込</h6>
              <%
              if params["app_no_scraping_flg"] == '0'
                scraping = '利用中'
              elsif params["app_no_scraping_flg"] == '1'
                scraping = '不利用'
              elsif params["app_no_scraping_flg"] == '5'
                scraping = '応募者入力'
              elsif params["app_no_scraping_flg"] == '9'
                scraping = '利用不可'
              else
                scraping = '選択して下さい'
              end
              %>
              <%=scraping%>
            <div class="col-sm-10 col-xs-12" id="span_no_scraping_txt"></div>
           </div>
          </div>


         </div>
        </div>
       </div>
       <br/>
       <div class="row">
        <div class="col-md-12 col-xs-12">
         <div id="footer_go_to_confirmation">
          <div class="pull-left">
           <a class="btn btn-warning" style="font-size: 12px;" onClick="history.back()">< 戻る</a>
          </div>
          <div class="text-center">
           <% logger.debug "debug:params_conf=#{params.inspect}" %>
           <%= form_tag "/m_sites/#{params[:id]}", method: (params[:id].nil? ? :post : :patch) do %>
             <%= hidden_field_tag 'app_job_offer_name', params['app_job_offer_name'] %>
             <%= hidden_field_tag 'app_id', params['app_id'] %>
             <%= hidden_field_tag 'app_password', params['app_password'] %>
             <%= hidden_field_tag 'app_url', params['url'] %>
             <%= hidden_field_tag 'app_no_scraping_flg', params['app_no_scraping_flg'] %>
             <%= submit_tag '登録', class: "btn btn-primary" %>
           <% end %>
          </div>
         </div>
        </div>
       </div>
      </section>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
  function clear_all_input_field(){
  //document.getElementById("").value = "";
   }
  </script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_site"]').parent().addClass('active');
})
  </script>
 </body>
</html>
