<%
  sidebar_collapse = cookies["nonsidebar-collapse"]
%>
<!DOCTYPE html>
<html>
 <head>
  <style>
   .non_select {
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
  appearance: none;		/* 標準のスタイルを無効にする */
   }
   ::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
  display: none;
   }
  </style>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" style="line-height:normal" id="check">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>求人掲載サイト登録</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_account"><i class="fa fa-cogs"></i> 設定</a></li>
      <li class="active">求人掲載サイト登録</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= form_tag "/m_sites/#{params[:id]}/conf" do %>
       <div class="callout callout-warning">
        <h4 style="font-size:16px;">求人掲載サイト編集</h4>
       </div>
       <div class="row">
         <div class="col-md-12 col-xs-12">
          <div class="box box-kujira">

           <div class="box-body">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">掲載サイト</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-4 col-xs-12">
                <%= text_field_tag "app_site_id", RecruitmentSite.find(@m_site.recruitment_site_id).site_name, disabled: "true", class: "form-control" %>
                <h6 id="div_site_id_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:recruitment_site_id].first%></h6>
              </div>
            </div>
           </div>

           <div class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">求人案件名</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-4 col-xs-12">
               <%= text_field_tag "app_job_offer_name", @m_site.name, class: "form-control", maxlength: "20" %>
               <h6 id="div_job_offer_name_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:name].first%></h6>
              </div>
              <div class="col-md-4 col-xs-12">
               <h6 style="font-size:12px;">（全角２０文字以内）</h6>
              </div>
            </div>
           </div>

           <div id="div_id_box" class="box-body">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">ID</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-6 col-xs-12">
               <%= text_field_tag "app_user_id", @m_site.user_id, class: "form-control", maxlength: "100" %>
               <h6 id="div_id_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:user_id].first%></h6>
              </div>
              <div class="col-md-2 col-xs-12">
               <h6 style="font-size:12px;">（半角１００文字以内）</h6>
              </div>
            </div>
           </div>

           <div id="div_password_box" class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">パスワード</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-4 col-xs-12">
               <%= password_field_tag "app_password", @m_site.password, class: "form-control" %>
               <h6 id="div_password_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:password].first%></h6>
              </div>
            </div>
           </div>

           <div id="div_conf_password_box" class="box-body">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">パスワード（確認用）</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-4 col-xs-12">
               <%= password_field_tag "app_conf_password", '', class: "form-control" %>
               <h6 id="div_conf_password_error" style="font-size:12px; color:red;"><%=@error_msg%></h6>
              </div>
              <div class="col-md-4 col-xs-12">
               <h6 style="font-size:12px;"></h6>
              </div>
            </div>
           </div>

           <div id="div_url_box" class="box-body" style="background-color: rgb(238, 120, 0, 0.2)">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">サイトアドレス</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-6 col-xs-12">
               <%= text_field_tag "app_url", @m_site.url, class: "form-control", maxlength:"100" %>
               <h6 id="div_url_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:url].first%></h6>
              </div>
              <div class="col-md-2 col-xs-12">
               <h6 style="font-size:12px;">（半角１００文字以内）</h6>
              </div>
            </div>
           </div>

           <div id="div_no_scraping_flg_box" class="box-body">
            <div class="form-group">
              <h6 class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="font-size:12px;">自動取込</h6>
              <h6 class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"><span style="font-size:10px; background-color: #d9534f; border-color: #d43f3a; padding:3px; border-radius: 3px; color: #fff;">必須</span></h6>
              <div class="col-md-4 col-xs-12">
               <%= select_tag "app_no_scraping_flg", options_for_select([['選択してください。', ''], ['利用中', '0'], ['不利用', '1'], ['応募者入力', '5'], ['利用不可', '9']], @m_site.no_scraping_flg.to_s) %>
               <h6 id="div_no_scraping_flg_error" style="font-size:12px; color:red;"><%=@m_site.errors.messages[:no_scraping_flg].first%></h6>
              </div>
            </div>
           </div>

          </div>
         </div>
       </div>
       <br>
       <div class="row">
        <div class="col-md-12 col-xs-12" id="footer_go_to_confirmation">
         <div class="pull-left">
          <a class="btn btn-warning btn-rounded", class: "btn btn-warning btn-rounded" onclick="history.back()">< 戻る</a>
         </div>
         <div class="text-center">
          <%= submit_tag '入力内容を確認', class: "btn btn-rounded  btn-warning"  %>
         </div>
        </div>
       </div>
      <% end %>
      </section>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
   function clear_all_input_field(){
    //document.getElementById("").value = "";
   }
  </script>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_site"]').parent().addClass('active');
})
  </script>
 </body>
</html>
