<%
  sidebar_collapse  = cookies["nonsidebar-collapse"]
%>
<!DOCTYPE html>
<html>
 <head>
  <%= render partial: "common/index_header" %>
  <title>くじら応募</title>
  <script>
         document.addEventListener('DOMContentLoaded',
        function(){
           initialize_screen();
           clear_all_input_field();
           take_get_parameter();
        }
      );

      function initialize_screen(){

      }

      function setCmbInit(){

      }

      function change_site(){
        var site_id = $("#cmb_site_id").val();
        var site_type = $("#cmb_site_id option:selected").data("type");
        var site_url = $("#cmb_site_id option:selected").data("url");

        if(site_type == 1){
          $('#txt_url').val(site_url);

          $('#div_id_box').show();
          $('#div_password_box').show();
          $('#div_conf_password_box').show();
          $('#div_url_box').show();
          $('#div_no_scraping_flg_box').show();
        } else {
          $('#txt_job_offer_name').val("");
          $('#txt_id').val("");
          $('#txt_password').val("");
          $('#txt_conf_password').val("");
          $('#txt_url').val("");
          $('#cmb_no_scraping_flg').val(site_type);

          $('#div_id_box').hide();
          $('#div_password_box').hide();
          $('#div_conf_password_box').hide();
          $('#div_url_box').hide();
          $('#div_no_scraping_flg_box').hide();
        }
      }

      //function take get_parameter from link
      function take_get_parameter(){
        var app_site_id = '${param.app_site_id}',
          app_job_offer_name = '',
          app_id = '',
          app_password = '',
          app_url = '',
          app_no_scraping_flg = '${param.app_no_scraping_flg}';

        document.getElementById("cmb_site_id").value = app_site_id;
        document.getElementById("txt_job_offer_name").value = app_job_offer_name;
        document.getElementById("txt_id").value = app_id;
        document.getElementById("txt_password").value = app_password;
        document.getElementById("txt_url").value = app_url;
        document.getElementById("cmb_no_scraping_flg").value = app_no_scraping_flg;

        if(app_no_scraping_flg > 1){
          $('#div_id_box').hide();
          $('#div_password_box').hide();
          $('#div_conf_password_box').hide();
          $('#div_url_box').hide();
          $('#div_no_scraping_flg_box').hide();
        } else {
          $('#div_id_box').show();
          $('#div_password_box').show();
          $('#div_conf_password_box').show();
          $('#div_url_box').show();
          $('#div_no_scraping_flg_box').show();
        }
      }

      function setParam(name,value){
        var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', name);
                    input.setAttribute('value', value);
                    return input;
        }

      function redirect_to_confirm_page() {

      　　if ( validate_empty_text() == 1 ) {
            return;
          }

          var inputSiteId = setParam('app_site_id',document.getElementById('cmb_site_id').value);

          var select_box = document.getElementById( "cmb_site_id" ) ;
          var idx = select_box.selectedIndex;
          var site_name = select_box.options[idx].text;
          var inputSiteName = setParam('app_site_name',site_name);

          var job_offer_name = document.getElementById("txt_job_offer_name").value;
        var inputJobOfferName = setParam('app_job_offer_name',job_offer_name);

        var id = document.getElementById("txt_id").value;
        var inputId = setParam('app_id',id);

        var password = document.getElementById("txt_password").value;
        var inputPassword = setParam('app_password',password);

        var url = document.getElementById("txt_url").value;
        var inputUrl = setParam('app_url',url);

        var inputNoScrapingFlg = setParam('app_no_scraping_flg',document.getElementById('cmb_no_scraping_flg').value);

        select_box = document.getElementById( "cmb_no_scraping_flg" ) ;
          idx = select_box.selectedIndex;
          var no_scraping_txt = select_box.options[idx].text;
          var inputNoScrapingTxt = setParam('app_no_scraping_txt',no_scraping_txt);

        var f = document.createElement("form");
                f.setAttribute('method',"post");
                f.setAttribute('action',"/m_sites/conf");
                f.appendChild(inputSiteId);
                f.appendChild(inputSiteName);
                f.appendChild(inputJobOfferName);
                f.appendChild(inputId);
                f.appendChild(inputPassword);
                f.appendChild(inputUrl);
                f.appendChild(inputNoScrapingFlg);
                f.appendChild(inputNoScrapingTxt);

        var bodyElement = document.body ;
                bodyElement.append(f);

                f.submit();
      }

      //validation
      function validate_empty_text() {
        var cmb_site_id = document.getElementById("cmb_site_id").value;
        var txt_job_offer_name = document.getElementById("txt_job_offer_name").value;
        var txt_id = document.getElementById("txt_id").value;
        var txt_password = document.getElementById("txt_password").value;
        var txt_conf_password = document.getElementById("txt_conf_password").value;
        var txt_url = document.getElementById("txt_url").value;
        var cmb_no_scraping_flg = document.getElementById("cmb_no_scraping_flg").value;

        var status = 0;

        window.location.hash = '#check';

        $("#div_site_id_error").html("");
        $("#div_job_offer_name_error").html("");
        $("#div_id_error").html("");
        $("#div_password_error").html("");
        $("#div_conf_password_error").html("");
        $("#div_url_error").html("");
        $("#div_no_scraping_flg_error").html("");

        if (cmb_site_id == "-1" || cmb_site_id == "") {
          $("#div_site_id_error").html("掲載サイトは必須です。");
          status = 1;
        }

        if (txt_job_offer_name == "") {
          $("#div_job_offer_name_error").html("求人案件名は必須です。");
          status = 1;
        }

        var site_type = $("#cmb_site_id option:selected").data("type");

        if(site_type == 1){

          if (txt_id == "") {
            $("#div_id_error").html("IDは必須です。");
            status = 1;
          }

          if (txt_password == "") {
            $("#div_password_error").html("パスワードは必須です。");
            status = 1;
          }

          if (txt_conf_password == "") {
            $("#div_conf_password_error").html("パスワード（確認用）は必須です。");
            status = 1;
          } else {
            if (txt_conf_password != txt_password) {
              $("#div_conf_password_error").html("確認用のパスワードが間違っています。");
              status = 1;
            }
          }

          if (txt_url == "") {
            $("#div_url_error").html("サイトアドレスは必須です。");
            status = 1;
          }

          if (cmb_no_scraping_flg == "-1" || cmb_no_scraping_flg == "") {
            $("#div_no_scraping_flg_error").html("利用可否は必須です。");
            status = 1;
          }

        }

        return status;
      }

  </script>
 </head>
 <body class="hold-transition skin-kujira sidebar-mini <%=sidebar_collapse%>" id="check">
  <div class="wrapper">
   <%= render partial: "common/top_bar" %>
   <%= render partial: "common/side_bar" %>
   <div class="content-wrapper">
    <section class="content-header">
     <h1>求人掲載サイト登録</h1>
     <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> ホーム</a></li>
      <li><a href="/setting_account"><i class="fa fa-cogs"></i> 設定</a></li>
      <li class="active">求人掲載サイト登録</li>
     </ol>
    </section>
    <section class="content">
     <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render partial: "form" %>
      </section>
     </div>
    </section>
   </div>
   <%= render partial: "common/footer" %>
  </div>
  <script>
   function clear_all_input_field(){
    //document.getElementById("").value = "";
   }
  </script>
  <script src="/dist/js/jquery.js"></script>
  <script src="/dist/js/bootstrap.js"></script>
  <script src="/dist/js/adminlte.js?v=1"></script>
  <script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.setting').parent().addClass('active') && $('.setting > li > a[href="/setting_site"]').parent().addClass('active');
})
  </script>
 </body>
</html>
